extends ../templates/base

block linksMaster
    link(rel="stylesheet", href="/assets/css/global/alert.css")
    link(rel="stylesheet", href="/assets/css/user/auth.css")

block scriptsMaster
    script(src="/assets/js/global/master.js")
    script(src="/assets/js/user/main.js")
    script(src="/assets/js/user/auth.js")

block body

    img#background(src='/assets/media/img/auth/background.png')
    .row.no-gutters
        .container-fluid

            main.col-12.col-lg-10.offset-lg-1

                #div-text
                    .sign-text
                        h1 Ainda não possui conta?
                        p Crie sua conta agora mesmo gratuitamente.
                        button.btn.to-register(data-action='to-register') Cadastrar
                    .sign-text
                        h1 Já possui conta?
                        p Entre em sua conta e comece a operar.
                        button.btn.to-login(data-action='to-login') Entrar

                #div-form

                    #login
                        h1.sign-h1 Entrar
                        button.btn.to-login.to-btn(data-action='to-login') Entrar
                        button.btn.to-register.to-btn(data-action='to-register') Cadastrar
                        form#form-login(action='javascript:')
                            .input-group.mb-3
                                .input-group-prepend
                                    span.input-group-text
                                        img(src='/assets/media/img/icons/email.png')
                                input#login-email.form-control(type='email', name='email', placeholder='Email', data-required='1')
                            .input-group.mb-3
                                .input-group-prepend
                                    span.input-group-text
                                        img(src='/assets/media/img/icons/password.png')
                                input#login-password.form-control(type='password', name='password', placeholder='Senha', data-required='1')
                                .input-group-append(title='Mostrar Senha')
                                    span.input-group-text
                                        img(src='/assets/media/img/icons/closed_eye.png')
                            .form-group.my-3
                                input.btn.btn-primary.btn-block(type='submit', value='Entrar')

                    #register
                        h1.sign-h1 Cadastrar
                        button.btn.to-login.to-btn(data-action='to-login') Entrar
                        button.btn.to-register.to-btn(data-action='to-register') Cadastrar
                        form#form-register(action='javascript:')
                            .input-group.mb-3
                                .input-group-prepend
                                    span.input-group-text
                                        img(src='/assets/media/img/icons/identity.png')
                                input#register-name.form-control(type='text', name='name', placeholder='Nome', data-required='1')
                            .input-group.mb-3
                                .input-group-prepend
                                    span.input-group-text
                                        img(src='/assets/media/img/icons/email.png')
                                input#register-email.form-control(type='email', name='email', placeholder='Email', data-required='1')
                            .input-group.mb-3
                                .input-group-prepend
                                    span.input-group-text
                                        img(src='/assets/media/img/icons/password.png')
                                input#register-password.form-control(type='password', name='password', placeholder='Senha', data-required='1')
                                .input-group-append(title='Mostrar Senha')
                                    span.input-group-text
                                        img(src='/assets/media/img/icons/closed_eye.png')
                            .input-group.mb-3
                                .input-group-prepend
                                    span.input-group-text
                                        img(src='/assets/media/img/icons/password.png')
                                input#register-confirm-password.form-control(type='password', name='confirm-password', placeholder='Confirmar Senha', data-required='1')
                                .input-group-append(title='Mostrar Senha')
                                    span.input-group-text
                                        img(src='/assets/media/img/icons/closed_eye.png')
                            .form-group.my-3
                                input.btn.btn-primary.btn-block(type='submit', value='Cadastrar')
