<h1>Editar Informações</h1>
<form action="javascript: update();">

    <input type="text" id="name" placeholder="Nome" value="{$user->getName()}">
    <input type="email" id="email" placeholder="Email" value="{$user->getEmail()}">
    <input type="submit">

</form>


<h1>Editar Senha</h1>
<form action="javascript: update_pass();">

    <input type="password" id="oldPassword" placeholder="senha antiga">
    <input type="password" id="newPassword" placeholder="senha nova">
    <input type="submit">

</form>

<script>

    function update(){

        codes["100"] = "Email em uso, tente outro!";

        $.post("/usuario/editar", {

            "name" : $("#name").val(),
            "email" : $("#email").val()

        }, function(data){

            show_response(data);

        });

    }

    function update_pass(){

        codes["100"] = "Senha atual errada!";

        $.post("/usuario/editar_senha", {

            "oldPassword" : $("#oldPassword").val(),
            "newPassword" : $("#newPassword").val()

        }, function(data){

            show_response(data);

        });

    }

    codes = {
        "000" : "/usuario",
        "200" : "Problema com o banco de dados, tente novamente mais tarde!"
    };


</script>