extends ../templates/baseLogged

block links
    link(rel='stylesheet', href='/assets/css/user/update.css')
block scripts
    script(src='/assets/js/user/main.js')
    script(src='/assets/js/user/update.js')

block content

    div.col-12.col-md-6.col-card

        // Form info
        form#form-info.card(action='javascript:')
            div.card-header Editar Informações
            div.card-body

                div.input-group.mb-3
                    div.input-group-prepend
                        span.input-group-text
                            img(src='/assets/media/img/icons/identity.png')
                    input#name.form-control(type='text', name='name', placeholder='Nome', required)

                div.input-group.mb-3
                    .input-group-prepend
                        span.input-group-text
                            img(src='/assets/media/img/icons/email.png')
                    input#email.form-control(type='email', name='email', placeholder='Email', required)

            div.card-footer.pb-0
                div.form-group
                    input.btn.btn-primary.btn-block(type='submit', value='Salvar')

    div.col-12.col-md-6.col-card

        // Form Passwords
        form#form-passwords.card(action='javascript:')
            div.card-header Editar Senha
            div.card-body

                div.input-group.mb-3
                    div.input-group-prepend
                        span.input-group-text
                            img(src='/assets/media/img/icons/password.png')
                    input#old-password.form-control(type='password', name='oldPassword', placeholder='Senha atual', required)
                    div.input-group-append.showPassword(title='Mostrar Senha', data-toggle="password", data-target="#old-password")
                        span.input-group-text
                            img(src='/assets/media/img/icons/closed_eye.png')

                div.input-group.mb-3
                    div.input-group-prepend
                        span.input-group-text
                            img(src='/assets/media/img/icons/password.png')
                    input#new-password.form-control(type='password', name='newPassword', placeholder='Nova senha', required)
                    div.input-group-append.showPassword(title='Mostrar Senha', data-toggle="password", data-target="#new-password")
                        span.input-group-text
                            img(src='/assets/media/img/icons/closed_eye.png')

                div.input-group.mb-3
                    div.input-group-prepend
                        span.input-group-text
                            img(src='/assets/media/img/icons/password.png')
                    input#confirm-new-password.form-control(type='password', name='confirmNewPassword', placeholder='Confirmar senha', required)
                    div.input-group-append(title='Mostrar Senha', data-toggle="password", data-target="#confirm-new-password")
                        span.input-group-text
                            img(src='/assets/media/img/icons/closed_eye.png')

            div.card-footer.pb-0
                div.form-group
                    input.btn.btn-primary.btn-block(type='submit', value='Salvar')