.question-type, .question-actions{
    display: inline-block;
}
.question-statement .input-group-prepend{
    width: 6rem;
}
.question-actions > div
{
    display: inline-block;
    font-size: 12pt;
}
.card img
{
    width: 26px;
}
.option input[type="text"]
{
    border-radius: .25rem !important;
}

.questions-init h1{
    font-size: 18pt;
    font-weight: 600;
}
.questions-init > div
{
    display: inline-block;
}

#questions{

    float: left;
    width: 100%;

}