doctype html
html(lang="pt-BR")
    head
        title=pageTitle

        meta(charset="utf-8")

        meta(name="author",      content="Matheus Parolo Miranda, Maysa Domingues, Luiza Kozaen")
        meta(name="description", content="")
        meta(name="viewport",    content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
        link(rel="icon",       href="/assets/media/img/icon.png")
        block linksMaster

    body

        block body

        #alert

        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js")
        block scriptsMaster