extends ../templates/baseLogged

block links
    link(rel='stylesheet', href='/assets/css/global/table.css')
    link(rel='stylesheet', href='/assets/css/research/create.css')

block scripts
    script(src='/assets/js/research/create.js')

block content
    .col-12.col-md-6.col-card
        form#form-create.card(action='javascript:')
            .card-header Informações da Pesquisa
            .card-body
                .input-group.mb-3
                    input.form-control(type='text', name='name', placeholder='Nome', required)

                .input-group.mb-3
                    input.form-control(type='text', name='applicationArea', list='list-areas', placeholder='Area de aplicação', required)
                    datalist#list-areas

                .form-group.mb-3
                    textarea.text-justify.form-control(name='overview', rows='6', placeholder='Visão Geral')

                .form-group.mb-3
                    textarea.text-justify.form-control(name='terms', rows='6', placeholder='Termo de concessão')

            .card-footer.pb-0
                .form-group
                    input.btn.btn-primary.btn-block(type='submit', value='Cadastrar')
    .col-12.col-md-6.col-card
        .card
            .card-header Membros
            .card-body
                table.table.table-hover
                    thead
                        tr
                            th Nome
                            th Email
                            th.action(data-toggle="modal", data-target="#search")
                                img(title='Adicionar membro', src='/assets/media/img/icons/add.png')
                    tbody#table-members


    .modal#search
        .modal-dialog()
            .modal-content
                .modal-header
                    h5.modal-title Pesquise usuário
                    button.close(data-dismiss='modal')
                        span(aria-hidden='true') &times;
                .modal-body
                    .input-group
                        input#input-search.form-control(type='search', placeholder='Nome do usuário')
                        button#btn-search.btn
                            img(src='/assets/media/img/icons/search.png', alt='Pesquisar')
                    div#search-table
                        table.table.table-hover.mt-3
                            thead
                                tr
                                    th Nome
                                    th Email
                                    th
                            tbody#table-users
