 <h1>Atualizar Pesquisa</h1>

<form action="javascript:create();">

    <div class="row">

        <input type="hidden" id="id" value="{$research->getId()}">
        <input type="text" id="name" maxlength="256" value="{$research->getName()}" placeholder="Nome da Pesquisa" required>

    </div>

    <div class="row">

        <div id="members-div">

            <h2>Membros</h2>

            <div id="members">

                {loop="$members"}

                    <div class="user">

                        <div class="user-infos">

                            <p>{$value->getName()}</p>
                            <p>{$value->getEmail()}</p>

                        </div>
                        <div class="user-actions">

                            <input type="button" data-id="{$value->getId()}" value="Remover">

                        </div>

                    </div>

                {/loop}

            </div>

        </div>

        <div id="users-div">

            <div id="search-title">
                <h2>Usuarios</h2>
                <input type="search" id="input-search" placeholder="Pesquisar nome do usuario">
                <input type="button" id="btn-search" value="Pesquisar">
            </div>

            <div id="users"></div>

        </div>

    </div>

    <div class="row">

        <input type="submit" value="Atualizar">

    </div>

</form>

<script>

    function create()
    {

        $.post("/pesquisa/editar", {
            "id"      : $("#id").val(),
            "name"    : $("#name").val(),
            "members" : members
        }, function(data){
            show_response(data);
        })

    }

    codes = {
        "000" : "/pesquisa",
        "200" : "Problema com o banco de dados, tente novamente mais tarde!"
    };

    function insert_user(divID, data, add)
    {

        $(divID)
            .append(
                $("<div>")
                    .addClass("user")
                    .append(
                        $("<div>")
                            .addClass("user-infos")
                            .append($("<p>").text(data["name"]))
                            .append($("<p>").text(data["email"]))
                    )
                    .append(
                        $("<div>")
                            .addClass("user-actions")
                            .append($("<input>")
                                .attr("type", "button")
                                .attr("data-id", data["id"])
                                .prop("value", add ? "adicionar" : "remover")
                                .on("click", add ? add_member : remove_member)
                            )
                    )
            )

    }

    function search_users()
    {
        $.get("/usuario/buscar/" + $("#input-search").val(), function(data){

            results = [];
            $("#users").html("");

            for(let i = 0; i < data.length; i++)
            {

                let line = data[i];
                results[line["id"]] = line;

                insert_user("#users", line, true)

            }

        }, "json");

    }
    function add_member()
    {

        let id = $(this).attr("data-id");
        if(members.indexOf(id) === -1){

            let userData = results[id];
            insert_user("#members", userData, false);

            members.push(id);

        }

    }

    function remove_member()
    {

        members = members.filter(item => item !== $(this).attr("data-id"));
        this.parentNode.parentNode.remove();

    }

    function main()
    {

        results = [];
        members = [];

        let removeButtons = $(".user-actions input");
        for(var i = 0; i < removeButtons.length; i++){
            members.push($(removeButtons[i]).attr("data-id"));
        }

        $("#btn-search").on("click", search_users);
        $(".user-actions input").unbind().on("click", remove_member);

    }

    window.onload = main;

</script>

<style>

    #members-div, #users-div
    {
        float: left;
        padding-right: 20px;
    }

    #search-title input
    {
        display: inline-block;
    }
    #search-title{
        padding-bottom: 10px;

    }

    body{
        padding: 10px;
    }

    .row
    {
        padding: 10px 0;
        float: left;
        width: 100%;
    }
    .row::after
    {
        content: "";
        clear: both;
        display: table;
    }

    .user p
    {
        margin: 0;
    }

    .user{
        border: 1px solid black;
    }

    .user-infos, .user-actions{
        display: inline-block;
        padding: 5px;
    }

</style>