<h1>Enviar Resposta para formulario</h1>
<h2>{$form->getName()}</h2>

<form action="javascript: submit();">

    <input type="hidden" id="form-id" value="{$form->getID()}">
    <div id="questions">

        {loop="$questions"}
        <div class="question" data-id="{$value->getID()}" data-type="{$value->getType()}" data-required="{$value->getRequired()}">
            <div class="question-title">
                <p>{$value->getIndex() + 1}.</p>
                <p>{$value->getStatement()} {$value->getRequired() ? "(obrigatória)" : "" }</p>
            </div>
            <div class="answer">

                {if="$value->getType() == 'text'"}
                    <textarea placeholder="Resposta"></textarea>
                {else}

                    {$questionID=$value->getID()}
                    {$type=$value->getType()}

                    {loop="$value->getOptions()"}

                        <div class="option" data-id="{$value->getID()}" data-describe="{$value->getDescribeAllowed()}">
                            <input type="{$type}" id="option-{$value->getID()}" name="question-{$questionID}">
                            <label for="option-{$value->getID()}">{$value->getInfo()}</label>
                            {if="$value->getDescribeAllowed()"}
                                <input type="text" size="64" maxlength="256" placeholder="Descreva...">
                            {/if}
                        </div>

                    {/loop}

                {/if}

            </div>
        </div>
        {/loop}

    </div>
    <input type="submit" value="Enviar">
</form>

<script>

    function submit(){

        let questions = $(".question");

        let answers = [];
        let notSubmit = false;
        $("#result").html("");

        for(var i = 0; i < questions.length; i++)
        {

            let question = $(questions[i]);

            let id = question.attr("data-id");
            let type = question.attr("data-type");
            let required = question.attr("data-required");
            let index = question.find(".question-title p")[0].innerText;

            let block = false;
            let answer;
            if(type === "text")
            {

                 answer = question.find(".answer textarea").val();

            }else{

                answer = [];
                let options = question.find(".option");
                for(var j = 0; j < options.length; j++)
                {

                    let option = $(options[j]);
                    let checked = option.find("input").prop("checked");
                    if(checked)
                    {

                        let id = option.attr("data-id");
                        let describe = option.attr("data-describe");
                        if(describe === "1")
                        {

                            describe = option.find("input")[1].value;
                            if(!describe) block = true;

                        }else{
                            describe = [];
                        }

                        answer.push({
                            "id" : id,
                            "describe" : describe
                        });

                        if(type === "radio") break;

                    }

                }

            }

            if((required === "1" && answer == "") || block){
                $("#result").html($("#result").html() + "Questão obrigatória não informada: " + index + "<br>");
                notSubmit = true;
            }else{
                if(answer != ""){
                    answers.push(
                        {
                            "id" : id,
                            "type" : type,
                            "answer" : answer
                        }
                    );
                }
            }
        }

        if(!notSubmit)
        {
            $.post("/formulario/resposta/enviar", {
                "id" : $("#form-id").val(),
                "answers" : answers
            }, function(data){
                $("#result").html("Resposta registrada com sucesso!");
                show_response(data, false);
                if(data["code"] === "000")
                {

                    clear_questions();

                }
            })
        }

    }

    function clear_questions()
    {

        let questions = $(".question");
        for(var i = 0; i < questions.length; i++)
        {

            let question = $(questions[i]);
            if(question.attr("data-type") === "text") question.find(".answer textarea").val("");
            else{

                let options = question.find(".option");
                for(var j = 0; j < options.length; j++)
                {


                    let option = $(options[j]);

                    option.find("input").prop("checked", false);
                    if(option.attr("data-describe") === "1") option.find("input")[1].value = "";

                }

            }

        }

    }

    codes = {
        "200" : "Problema com o banco de dados, tente novamente mais tarde!"
    };


</script>

<style>

    *{
        box-sizing: border-box;
    }
    .question{
        float: left;
        width: 100%;
        background-color: rgb(245,245,245);
        padding: 10px;
    }
    .question::after
    {
        content: '';
        display: table;
        clear: both;
    }
    .question-title p
    {
        margin: 0;
        display: inline-block;
        padding: 10px;
        background-color: rgb(250,250,250);
        border: 1px solid rgba(0,0,0,0.3);
    }
    .answer
    {
        background-color: rgb(245,245,245);
    }
    .answer textarea
    {

        padding: 10px;
        width: 100%;
        height: 5rem;

    }
    .option{
        padding: 10px;
        /*display: inline-block;*/
    }

    .option input, .option label
    {
        display: inline-block;
    }

</style>